[submodule "files/.config/zsh/oh-my-zsh"]
	path = files/.config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "files/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = files/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "files/.vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = files/.vim/bundle/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "files/.config/zsh/custom/plugins/fast-syntax-highlighting"]
	path = files/.config/zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "files/.tmux/plugins/tpm"]
	path = files/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
