[Unit]
Description=A compositor for X11
Requires=user-graphical-login.target
After=user-graphical-login.target

[Service]
ExecStart=/usr/bin/compton
Restart=always

[Install]
WantedBy=user-graphical-login.target
