[Unit]
Description=A fast and easy-to-use tool status bar
Requires=user-graphical-login.target
After=user-graphical-login.target

[Service]
ExecStart=/usr/bin/polybar top
Restart=always

[Install]
WantedBy=user-graphical-login.target
