[Unit]
Description=Pulseeffects
Requires=user-graphical-login.target
After=user-graphical-login.target

[Service]
Type=simple
ExecStart=/usr/bin/pulseeffects --gapplication-service
Restart=on-failure

[Install]
WantedBy=user-graphical-login.target

