[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
Requires=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/redshift -m wayland
Restart=always

[Install]
WantedBy=sway-session.target
