[Unit]
Description= A VNC server for wlroots based Wayland compositors
Requires=sway-session.target
After=network.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/wayvnc
Restart=always

[Install]
WantedBy=sway-session.target
