{{- /* detect if on laptop or desktop */ -}}
{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end -}}

[data]
    chassisType = {{ $chassisType | quote }}
{{- if eq .chezmoi.hostname "pallet" }}
    defaultOutput = "DP-2"
{{- else if eq $chassisType "laptop" }}
    defaultOutput = "eDP-1"
{{- end }}
