#!/bin/bash
set -e
set -o pipefail

# Applications: {{ output "ls" (joinPath .chezmoi.homeDir "Applications") | replace "\n" " " }}

icon_folder="${HOME}/.local/share/icons"

{{ if ne .chassisType "container" }}
for appimage_path in $(find $HOME/Applications -name '*.AppImage'); do
    chmod +x "$appimage_path"

    appimage_filename=$(basename "$appimage_path")
    app_name="${appimage_filename%.*}"
    desktop_path="${HOME}/.local/share/applications/$app_name.desktop"

    # skip if desktop entry already exists
    [ -f "$desktop_path" ] && continue

    tempdir=$(mktemp -d)

    pushd $tempdir >/dev/null
    "$appimage_path" --appimage-extract > /dev/null
    cd squashfs-root/

    mapfile -t filenames < <(find -L . -maxdepth 1 -type f \( -iname '*.png' -o -iname '*.svg' \))

    icon_src=${filenames[0]}
    icon_ext="${icon_src##*.}"
    icon_dst="${icon_folder}/$app_name.$icon_ext"
    cp "$icon_src" "$icon_dst"

cat <<EOT > "$desktop_path"
[Desktop Entry]
Name=$app_name
StartupWMClass=$app_name
Exec="$appimage_path"
Icon=$icon_dst
Type=Application
Terminal=false
EOT

    popd >/dev/null
    rm -rf $tempdir

    echo "Created desktop entry for $app_name"

done
{{ end }}
