#!/bin/bash

{{ if ne .chassisType "container" }}

if ! which matugen &>/dev/null; then
{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman --noconfirm -S matugen
{{ else }}
cargo install matugen
{{ end }} 
fi

source_image="$(realpath "${HOME}/.local/share/wallpaper")"
cache_dir="${HOME}/.cache/chezmoi"
mkdir -p "$cache_dir"
colors_hex_file="${cache_dir}/colors-hex.json"
background_rgb_file="${cache_dir}/background-rgb.json"

background_to_rgb() {
    hex="$(cat "$colors_hex_file" | jq -r '.colors.background.default.color')"
    rgb_json=$(printf '{"r": %d,"g": %d,"b": %d}' \
        "$((16#${hex:1:2}))" \
        "$((16#${hex:3:2}))" \
        "$((16#${hex:5:2}))")
    echo "$rgb_json" >"$background_rgb_file"
}

# matugen relies on file extension to determine image type
if file "$source_image" | grep -q 'PNG'; then
    source_image_ext="/tmp/chezmoi-source.png"
    cp "$source_image" "$source_image_ext"
elif file "$source_image" | grep -q 'JPEG'; then
    source_image_ext="/tmp/chezmoi-source.jpg"
    cp "$source_image" "$source_image_ext"
else
    source_image_ext="$source_image"
fi

if which matugen &>/dev/null; then
    colorscheme_json="$(matugen image --type scheme-content --source-color-index 0 --json hex "$source_image_ext")"
    if [ -n "$colorscheme_json" ]; then
        echo "$colorscheme_json" >"$colors_hex_file"
        background_to_rgb
        exit
    fi
fi

# fallback
cat >"$colors_hex_file" <<EOF
{
  "base16": {
    "base00": {
      "dark": {
        "color": "#7893a5"
      },
      "default": {
        "color": "#7893a5"
      },
      "light": {
        "color": "#f3f6f9"
      }
    },
    "base01": {
      "dark": {
        "color": "#8aa1b1"
      },
      "default": {
        "color": "#8aa1b1"
      },
      "light": {
        "color": "#e2e8ed"
      }
    },
    "base02": {
      "dark": {
        "color": "#9bafbd"
      },
      "default": {
        "color": "#9bafbd"
      },
      "light": {
        "color": "#d0d9e1"
      }
    },
    "base03": {
      "dark": {
        "color": "#adbdc9"
      },
      "default": {
        "color": "#adbdc9"
      },
      "light": {
        "color": "#bfcbd5"
      }
    },
    "base04": {
      "dark": {
        "color": "#bfcbd5"
      },
      "default": {
        "color": "#bfcbd5"
      },
      "light": {
        "color": "#adbdc9"
      }
    },
    "base05": {
      "dark": {
        "color": "#d0d9e1"
      },
      "default": {
        "color": "#d0d9e1"
      },
      "light": {
        "color": "#9bafbd"
      }
    },
    "base06": {
      "dark": {
        "color": "#e2e8ed"
      },
      "default": {
        "color": "#e2e8ed"
      },
      "light": {
        "color": "#8aa1b1"
      }
    },
    "base07": {
      "dark": {
        "color": "#f3f6f9"
      },
      "default": {
        "color": "#f3f6f9"
      },
      "light": {
        "color": "#7893a5"
      }
    },
    "base08": {
      "dark": {
        "color": "#abd5de"
      },
      "default": {
        "color": "#abd5de"
      },
      "light": {
        "color": "#abd5de"
      }
    },
    "base09": {
      "dark": {
        "color": "#b3dde5"
      },
      "default": {
        "color": "#b3dde5"
      },
      "light": {
        "color": "#b3dde5"
      }
    },
    "base0a": {
      "dark": {
        "color": "#7892a5"
      },
      "default": {
        "color": "#7892a5"
      },
      "light": {
        "color": "#7892a5"
      }
    },
    "base0b": {
      "dark": {
        "color": "#a3c5ce"
      },
      "default": {
        "color": "#a3c5ce"
      },
      "light": {
        "color": "#a3c5ce"
      }
    },
    "base0c": {
      "dark": {
        "color": "#92afbd"
      },
      "default": {
        "color": "#92afbd"
      },
      "light": {
        "color": "#92afbd"
      }
    },
    "base0d": {
      "dark": {
        "color": "#c4e7ec"
      },
      "default": {
        "color": "#c4e7ec"
      },
      "light": {
        "color": "#c4e7ec"
      }
    },
    "base0e": {
      "dark": {
        "color": "#d1f3f8"
      },
      "default": {
        "color": "#d1f3f8"
      },
      "light": {
        "color": "#d1f3f8"
      }
    },
    "base0f": {
      "dark": {
        "color": "#c09db4"
      },
      "default": {
        "color": "#c09db4"
      },
      "light": {
        "color": "#c09db4"
      }
    }
  },
  "colors": {
    "background": {
      "dark": {
        "color": "#121414"
      },
      "default": {
        "color": "#121414"
      },
      "light": {
        "color": "#faf9fa"
      }
    },
    "error": {
      "dark": {
        "color": "#ffb4ab"
      },
      "default": {
        "color": "#ffb4ab"
      },
      "light": {
        "color": "#ba1a1a"
      }
    },
    "error_container": {
      "dark": {
        "color": "#93000a"
      },
      "default": {
        "color": "#93000a"
      },
      "light": {
        "color": "#ffdad6"
      }
    },
    "inverse_on_surface": {
      "dark": {
        "color": "#2f3131"
      },
      "default": {
        "color": "#2f3131"
      },
      "light": {
        "color": "#f1f0f1"
      }
    },
    "inverse_primary": {
      "dark": {
        "color": "#45636e"
      },
      "default": {
        "color": "#45636e"
      },
      "light": {
        "color": "#accbd9"
      }
    },
    "inverse_surface": {
      "dark": {
        "color": "#e3e2e3"
      },
      "default": {
        "color": "#e3e2e3"
      },
      "light": {
        "color": "#2f3131"
      }
    },
    "on_background": {
      "dark": {
        "color": "#e3e2e3"
      },
      "default": {
        "color": "#e3e2e3"
      },
      "light": {
        "color": "#1a1c1d"
      }
    },
    "on_error": {
      "dark": {
        "color": "#690005"
      },
      "default": {
        "color": "#690005"
      },
      "light": {
        "color": "#ffffff"
      }
    },
    "on_error_container": {
      "dark": {
        "color": "#ffdad6"
      },
      "default": {
        "color": "#ffdad6"
      },
      "light": {
        "color": "#410002"
      }
    },
    "on_primary": {
      "dark": {
        "color": "#15343f"
      },
      "default": {
        "color": "#15343f"
      },
      "light": {
        "color": "#ffffff"
      }
    },
    "on_primary_container": {
      "dark": {
        "color": "#042731"
      },
      "default": {
        "color": "#042731"
      },
      "light": {
        "color": "#042731"
      }
    },
    "on_primary_fixed": {
      "dark": {
        "color": "#001f28"
      },
      "default": {
        "color": "#001f28"
      },
      "light": {
        "color": "#001f28"
      }
    },
    "on_primary_fixed_variant": {
      "dark": {
        "color": "#2d4b56"
      },
      "default": {
        "color": "#2d4b56"
      },
      "light": {
        "color": "#2d4b56"
      }
    },
    "on_secondary": {
      "dark": {
        "color": "#273237"
      },
      "default": {
        "color": "#273237"
      },
      "light": {
        "color": "#ffffff"
      }
    },
    "on_secondary_container": {
      "dark": {
        "color": "#dae6ec"
      },
      "default": {
        "color": "#dae6ec"
      },
      "light": {
        "color": "#3d484d"
      }
    },
    "on_secondary_fixed": {
      "dark": {
        "color": "#121d21"
      },
      "default": {
        "color": "#121d21"
      },
      "light": {
        "color": "#121d21"
      }
    },
    "on_secondary_fixed_variant": {
      "dark": {
        "color": "#3d484d"
      },
      "default": {
        "color": "#3d484d"
      },
      "light": {
        "color": "#3d484d"
      }
    },
    "on_surface": {
      "dark": {
        "color": "#e3e2e3"
      },
      "default": {
        "color": "#e3e2e3"
      },
      "light": {
        "color": "#1a1c1d"
      }
    },
    "on_surface_variant": {
      "dark": {
        "color": "#c1c7cb"
      },
      "default": {
        "color": "#c1c7cb"
      },
      "light": {
        "color": "#42484b"
      }
    },
    "on_tertiary": {
      "dark": {
        "color": "#382b43"
      },
      "default": {
        "color": "#382b43"
      },
      "light": {
        "color": "#ffffff"
      }
    },
    "on_tertiary_container": {
      "dark": {
        "color": "#2b1e36"
      },
      "default": {
        "color": "#2b1e36"
      },
      "light": {
        "color": "#2b1e36"
      }
    },
    "on_tertiary_fixed": {
      "dark": {
        "color": "#22162d"
      },
      "default": {
        "color": "#22162d"
      },
      "light": {
        "color": "#22162d"
      }
    },
    "on_tertiary_fixed_variant": {
      "dark": {
        "color": "#4f415b"
      },
      "default": {
        "color": "#4f415b"
      },
      "light": {
        "color": "#4f415b"
      }
    },
    "outline": {
      "dark": {
        "color": "#8c9295"
      },
      "default": {
        "color": "#8c9295"
      },
      "light": {
        "color": "#72787b"
      }
    },
    "outline_variant": {
      "dark": {
        "color": "#42484b"
      },
      "default": {
        "color": "#42484b"
      },
      "light": {
        "color": "#c1c7cb"
      }
    },
    "primary": {
      "dark": {
        "color": "#afcedc"
      },
      "default": {
        "color": "#afcedc"
      },
      "light": {
        "color": "#45636e"
      }
    },
    "primary_container": {
      "dark": {
        "color": "#94b3c0"
      },
      "default": {
        "color": "#94b3c0"
      },
      "light": {
        "color": "#94b3c0"
      }
    },
    "primary_fixed": {
      "dark": {
        "color": "#c8e8f5"
      },
      "default": {
        "color": "#c8e8f5"
      },
      "light": {
        "color": "#c8e8f5"
      }
    },
    "primary_fixed_dim": {
      "dark": {
        "color": "#accbd9"
      },
      "default": {
        "color": "#accbd9"
      },
      "light": {
        "color": "#accbd9"
      }
    },
    "scrim": {
      "dark": {
        "color": "#000000"
      },
      "default": {
        "color": "#000000"
      },
      "light": {
        "color": "#000000"
      }
    },
    "secondary": {
      "dark": {
        "color": "#bdc8ce"
      },
      "default": {
        "color": "#bdc8ce"
      },
      "light": {
        "color": "#556065"
      }
    },
    "secondary_container": {
      "dark": {
        "color": "#404b50"
      },
      "default": {
        "color": "#404b50"
      },
      "light": {
        "color": "#d6e2e7"
      }
    },
    "secondary_fixed": {
      "dark": {
        "color": "#d9e4ea"
      },
      "default": {
        "color": "#d9e4ea"
      },
      "light": {
        "color": "#d9e4ea"
      }
    },
    "secondary_fixed_dim": {
      "dark": {
        "color": "#bdc8ce"
      },
      "default": {
        "color": "#bdc8ce"
      },
      "light": {
        "color": "#bdc8ce"
      }
    },
    "shadow": {
      "dark": {
        "color": "#000000"
      },
      "default": {
        "color": "#000000"
      },
      "light": {
        "color": "#000000"
      }
    },
    "source_color": {
      "dark": {
        "color": "#94b3c0"
      },
      "default": {
        "color": "#94b3c0"
      },
      "light": {
        "color": "#94b3c0"
      }
    },
    "surface": {
      "dark": {
        "color": "#121414"
      },
      "default": {
        "color": "#121414"
      },
      "light": {
        "color": "#faf9fa"
      }
    },
    "surface_bright": {
      "dark": {
        "color": "#38393a"
      },
      "default": {
        "color": "#38393a"
      },
      "light": {
        "color": "#faf9fa"
      }
    },
    "surface_container": {
      "dark": {
        "color": "#1e2021"
      },
      "default": {
        "color": "#1e2021"
      },
      "light": {
        "color": "#eeeeee"
      }
    },
    "surface_container_high": {
      "dark": {
        "color": "#292a2b"
      },
      "default": {
        "color": "#292a2b"
      },
      "light": {
        "color": "#e9e8e8"
      }
    },
    "surface_container_highest": {
      "dark": {
        "color": "#343536"
      },
      "default": {
        "color": "#343536"
      },
      "light": {
        "color": "#e3e2e3"
      }
    },
    "surface_container_low": {
      "dark": {
        "color": "#1a1c1d"
      },
      "default": {
        "color": "#1a1c1d"
      },
      "light": {
        "color": "#f4f3f4"
      }
    },
    "surface_container_lowest": {
      "dark": {
        "color": "#0d0e0f"
      },
      "default": {
        "color": "#0d0e0f"
      },
      "light": {
        "color": "#ffffff"
      }
    },
    "surface_dim": {
      "dark": {
        "color": "#121414"
      },
      "default": {
        "color": "#121414"
      },
      "light": {
        "color": "#dadada"
      }
    },
    "surface_tint": {
      "dark": {
        "color": "#accbd9"
      },
      "default": {
        "color": "#accbd9"
      },
      "light": {
        "color": "#45636e"
      }
    },
    "surface_variant": {
      "dark": {
        "color": "#42484b"
      },
      "default": {
        "color": "#42484b"
      },
      "light": {
        "color": "#dee3e7"
      }
    },
    "tertiary": {
      "dark": {
        "color": "#d6c3e2"
      },
      "default": {
        "color": "#d6c3e2"
      },
      "light": {
        "color": "#685973"
      }
    },
    "tertiary_container": {
      "dark": {
        "color": "#baa8c6"
      },
      "default": {
        "color": "#baa8c6"
      },
      "light": {
        "color": "#baa8c6"
      }
    },
    "tertiary_fixed": {
      "dark": {
        "color": "#efdbfb"
      },
      "default": {
        "color": "#efdbfb"
      },
      "light": {
        "color": "#efdbfb"
      }
    },
    "tertiary_fixed_dim": {
      "dark": {
        "color": "#d3c0df"
      },
      "default": {
        "color": "#d3c0df"
      },
      "light": {
        "color": "#d3c0df"
      }
    }
  },
  "image": "/tmp/chezmoi-source.png",
  "is_dark_mode": true,
  "mode": "dark",
  "palettes": {
    "error": {
      "0": {
        "color": "#000000"
      },
      "10": {
        "color": "#410002"
      },
      "100": {
        "color": "#ffffff"
      },
      "15": {
        "color": "#540003"
      },
      "20": {
        "color": "#690005"
      },
      "25": {
        "color": "#7e0007"
      },
      "30": {
        "color": "#93000a"
      },
      "35": {
        "color": "#a80710"
      },
      "40": {
        "color": "#ba1a1a"
      },
      "5": {
        "color": "#2d0001"
      },
      "50": {
        "color": "#de3730"
      },
      "60": {
        "color": "#ff5449"
      },
      "70": {
        "color": "#ff897d"
      },
      "80": {
        "color": "#ffb4ab"
      },
      "90": {
        "color": "#ffdad6"
      },
      "95": {
        "color": "#ffedea"
      },
      "98": {
        "color": "#fff8f7"
      },
      "99": {
        "color": "#fffbff"
      }
    },
    "neutral": {
      "0": {
        "color": "#000000"
      },
      "10": {
        "color": "#191c1d"
      },
      "100": {
        "color": "#ffffff"
      },
      "15": {
        "color": "#232628"
      },
      "20": {
        "color": "#2e3132"
      },
      "25": {
        "color": "#393c3d"
      },
      "30": {
        "color": "#444749"
      },
      "35": {
        "color": "#505354"
      },
      "40": {
        "color": "#5c5f60"
      },
      "5": {
        "color": "#0e1113"
      },
      "50": {
        "color": "#757779"
      },
      "60": {
        "color": "#8f9193"
      },
      "70": {
        "color": "#a9abad"
      },
      "80": {
        "color": "#c5c7c8"
      },
      "90": {
        "color": "#e1e3e4"
      },
      "95": {
        "color": "#eff1f2"
      },
      "98": {
        "color": "#f8f9fb"
      },
      "99": {
        "color": "#fbfcfe"
      }
    },
    "neutral_variant": {
      "0": {
        "color": "#000000"
      },
      "10": {
        "color": "#151d20"
      },
      "100": {
        "color": "#ffffff"
      },
      "15": {
        "color": "#1f272a"
      },
      "20": {
        "color": "#2a3235"
      },
      "25": {
        "color": "#353d40"
      },
      "30": {
        "color": "#40484c"
      },
      "35": {
        "color": "#4b5457"
      },
      "40": {
        "color": "#576063"
      },
      "5": {
        "color": "#0a1215"
      },
      "50": {
        "color": "#70787c"
      },
      "60": {
        "color": "#8a9296"
      },
      "70": {
        "color": "#a4acb1"
      },
      "80": {
        "color": "#bfc8cc"
      },
      "90": {
        "color": "#dbe4e8"
      },
      "95": {
        "color": "#eaf2f6"
      },
      "98": {
        "color": "#f2fbff"
      },
      "99": {
        "color": "#f9fdff"
      }
    },
    "primary": {
      "0": {
        "color": "#000000"
      },
      "10": {
        "color": "#001f28"
      },
      "100": {
        "color": "#ffffff"
      },
      "15": {
        "color": "#002a36"
      },
      "20": {
        "color": "#003543"
      },
      "25": {
        "color": "#004152"
      },
      "30": {
        "color": "#004e61"
      },
      "35": {
        "color": "#005a70"
      },
      "40": {
        "color": "#006780"
      },
      "5": {
        "color": "#00131a"
      },
      "50": {
        "color": "#0082a0"
      },
      "60": {
        "color": "#009dc1"
      },
      "70": {
        "color": "#38b9df"
      },
      "80": {
        "color": "#5dd5fb"
      },
      "90": {
        "color": "#b7eaff"
      },
      "95": {
        "color": "#ddf4ff"
      },
      "98": {
        "color": "#f2fbff"
      },
      "99": {
        "color": "#f9fdff"
      }
    },
    "secondary": {
      "0": {
        "color": "#000000"
      },
      "10": {
        "color": "#071e26"
      },
      "100": {
        "color": "#ffffff"
      },
      "15": {
        "color": "#122930"
      },
      "20": {
        "color": "#1e333b"
      },
      "25": {
        "color": "#293e47"
      },
      "30": {
        "color": "#344a52"
      },
      "35": {
        "color": "#40565e"
      },
      "40": {
        "color": "#4c626b"
      },
      "5": {
        "color": "#00131a"
      },
      "50": {
        "color": "#647a84"
      },
      "60": {
        "color": "#7e949e"
      },
      "70": {
        "color": "#98afb9"
      },
      "80": {
        "color": "#b3cad4"
      },
      "90": {
        "color": "#cfe6f1"
      },
      "95": {
        "color": "#ddf4ff"
      },
      "98": {
        "color": "#f2fbff"
      },
      "99": {
        "color": "#f9fdff"
      }
    },
    "tertiary": {
      "0": {
        "color": "#000000"
      },
      "10": {
        "color": "#171837"
      },
      "100": {
        "color": "#ffffff"
      },
      "15": {
        "color": "#212342"
      },
      "20": {
        "color": "#2c2e4d"
      },
      "25": {
        "color": "#373959"
      },
      "30": {
        "color": "#424465"
      },
      "35": {
        "color": "#4e5071"
      },
      "40": {
        "color": "#5a5c7e"
      },
      "5": {
        "color": "#0c0d2c"
      },
      "50": {
        "color": "#737498"
      },
      "60": {
        "color": "#8d8eb3"
      },
      "70": {
        "color": "#a7a8ce"
      },
      "80": {
        "color": "#c3c3eb"
      },
      "90": {
        "color": "#e1e0ff"
      },
      "95": {
        "color": "#f1efff"
      },
      "98": {
        "color": "#fbf8ff"
      },
      "99": {
        "color": "#fffbff"
      }
    }
  }
}
EOF
background_to_rgb

{{ end }}

# code: language=bash