#!/bin/bash

{{- $launcher := joinPath .chezmoi.homeDir ".local/share/Steam/steamapps/common/SteamVR/bin/linux64/vrcompositor-launcher" }}
{{- if stat $launcher }}
# {{ include $launcher | sha256sum }}
{{- end }}

VRCOMPOSITOR_LAUNCHER="{{ $launcher }}"

if [[ -f "$VRCOMPOSITOR_LAUNCHER" ]] && ! getcap "$VRCOMPOSITOR_LAUNCHER" | grep -q cap_sys_nice; then
    sudo setcap CAP_SYS_NICE+ep "$VRCOMPOSITOR_LAUNCHER"
fi
