#!/bin/bash
sudo systemctl daemon-reload
sleep 1
{{ range .units.system -}}
sudo systemctl enable --now {{ . }} || true
{{ end -}}

systemctl --user daemon-reload
sleep 1
{{ range .units.user -}}
systemctl --user enable --now {{ . }} || true
{{ end -}}