#!/bin/bash

{{- $wallpaper := joinPath .chezmoi.homeDir ".local/share/wallpaper" }}
{{- if stat $wallpaper }}
# {{ include $wallpaper | sha256sum }}
{{- end }}

{{ if ne .chassisType "container" }}

if ! command -v matugen &>/dev/null; then
{{ if eq .chezmoi.osRelease.id "arch" }}
sudo pacman --noconfirm -S matugen
{{ else }}
cargo install matugen
{{ end }}
fi

source_image="$(realpath "${HOME}/.local/share/wallpaper")"
cache_dir="${HOME}/.cache/chezmoi"
mkdir -p "$cache_dir"
colors_hex_file="${cache_dir}/colors-hex.json"
background_rgb_file="${cache_dir}/background-rgb.json"

background_to_rgb() {
    hex="$(cat "$colors_hex_file" | jq -r '.colors.background.default.color')"
    rgb_json=$(printf '{"r": %d,"g": %d,"b": %d}' \
        "$((16#${hex:1:2}))" \
        "$((16#${hex:3:2}))" \
        "$((16#${hex:5:2}))")
    echo "$rgb_json" >"$background_rgb_file"
}

# matugen relies on file extension to determine image type
if file "$source_image" | grep -q 'PNG'; then
    source_image_ext="/tmp/chezmoi-source.png"
    cp "$source_image" "$source_image_ext"
elif file "$source_image" | grep -q 'JPEG'; then
    source_image_ext="/tmp/chezmoi-source.jpg"
    cp "$source_image" "$source_image_ext"
else
    source_image_ext="$source_image"
fi

if command -v matugen &>/dev/null; then
    colorscheme_json="$(matugen image --type scheme-content --source-color-index 0 --json hex "$source_image_ext")"
    if [ -n "$colorscheme_json" ]; then
        echo "$colorscheme_json" >"$colors_hex_file"
        background_to_rgb
    fi
fi

{{ end }}

# code: language=bash
