{
    "layer": "top", // Waybar at top layer
    "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 23, // Waybar height (to be removed for auto height)
{{- if eq .chezmoi.hostname "pallet" }}
    "output": ["DP-3", "HDMI-A-6", "HEADLESS-1"],
{{- else if eq .chassisType "laptop" }}
    "output": ["eDP-1"],
{{- end }}
    // Choose the order of the modules
    "modules-left": ["sway/workspaces", "sway/mode"],
    "modules-center": [],
    "modules-right": ["clock", "network", "cpu", "memory", "battery", "backlight", "wireplumber", "custom/vpn", "idle_inhibitor", "tray"],

    // Modules configuration
    "sway/workspaces": {
         "disable-scroll": true,
         "all-outputs": true,
         "format": "{name}"
    },
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "tray": {
        // "icon-size": 21,
        "spacing": 10
    },
    "clock": {
        "format": " {:%Y-%m-%d %H:%M}",
        "tooltip-format": "<tt><big>{calendar}</big></tt>",
    },
    "cpu": {
        "format": "{icon} {usage:3}%",
        "format-icons": ["", "", "", "", ""],

    },
    "memory": {
        "format": " {percentage:3}%",
        "tooltip-format": "RAM:  {used:0.1f}/{total:0.1f}GiB\nSwap: {swapUsed:0.1f}/{swapTotal:0.1f}GiB"
    },
    "backlight": {
        "format": "{icon} {percent:3}%",
        "format-icons": ["", "", ""]
    },
    "battery": {
        "states": {
            "full": 100,
            "good": 97,
            "warning": 30,
            "critical": 15
        },
        "bat": "BAT0",
        "full-at": 97,
        "format": " {icon} {capacity:3}%",
        "format-plugged": " {capacity:3}%",
        "format-icons": ["", "", "", "", ""],
        "tooltip-format": "{time} ({timeTo})",
        "tooltip-format-full": "Full",
    },
    "network": {
        "format-wifi": "{icon} {ipaddr}/{cidr}",
        "format-ethernet": " {ipaddr}/{cidr}",
        "format-disconnected": " Disconnected",
        "tooltip-format": " {bandwidthUpBits}\n {bandwidthDownBits}",
        "tooltip-format-wifi": " {essid}\n {bandwidthUpBits}\n {bandwidthDownBits}",
        "format-icons": ["", "", ""],
    },
    "wireplumber": {
        //"scroll-step": 1,
        "format": "{icon} {volume:3}%",
        "format-muted": " ---%",
        "format-icons": {
            "headphones": "",
            "headset": "",
            "bluetooth": "",
            "default": ["", "", ""]
        },
        "on-click": "pavucontrol"
    },
    "custom/vpn": {
        "format": "{}",
        "interval": 5,
        "exec": "test -e /proc/sys/net/ipv4/conf/tun0 && echo  || echo ",
        "tooltip": false,
    }
}

