* {
    border: none;
    font-family: monospace, "Font Awesome 5 Pro", "Hack Nerd Font";
    font-size: 13px;
}

window#waybar, tooltip {
    background: {{ template "background-rgba" "0.9" }};
    color: {{ template "color-hex" "on_background" }};
}

label, button {
    background: inherit;
    color: inherit;
    font-weight: inherit;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: inherit;
    border: 1px dotted transparent;
    border-radius: 6px;
    font-weight: normal;
}

#workspaces button.visible {
    border: 1px dotted {{ template "color-hex" "secondary" }};
    font-weight: bold;
}

#workspaces button.focused {
    border-color: {{ template "color-hex" "primary_container" }};
    background: {{ template "color-hex" "primary" }};
    color: {{ template "color-hex" "on_primary" }};
}

#mode, #clock, #battery, #network, #cpu, #memory, #temperature, #backlight, #wireplumber, #custom-gpu, #custom-vpn {
    padding: 0 10px;
    border-left: 1px dotted {{ template "color-hex" "tertiary" }};
    border-radius: 6px;
}

#mode {
    border-left: 1px dotted {{ template "color-hex" "tertiary" }};
    border-right: 1px dotted {{ template "color-hex" "tertiary" }};
    color: {{ template "color-hex" "secondary" }};
    margin-left: 15px;
}

#idle_inhibitor, #tray, #custom-vpn {
    padding: 0;
    margin: 0;
    min-width: 23px;
    color: white;
}

#tray {
    padding-left: 3px;
}

#tray {
    margin-left: 3px;
    font-family: sans-serif;
}
/* vim: set ft=css: */