["applications/Logseq.AppImage"]
    type = "file"
    url = "https://github.com/logseq/logseq/releases/download/{{ .versions.logseq }}/Logseq-linux-x64-{{ .versions.logseq }}.AppImage"
    exact = true
    executable = true
["applications/Obsidian.AppImage"]
    type = "file"
    url = "https://github.com/obsidianmd/obsidian-releases/releases/download/v{{ .versions.obsidian }}/Obsidian-{{ .versions.obsidian }}.AppImage"
    exact = true
    executable = true
["applications/Moonlight.AppImage"]
    type = "file"
    url = "https://github.com/moonlight-stream/moonlight-qt/releases/download/v{{ .versions.moonlight }}/Moonlight-{{ .versions.moonlight }}-x86_64.AppImage"
    exact = true
    executable = true