["applications/Logseq.AppImage"]
    type = "file"
    url = "https://github.com/logseq/logseq/releases/download/{{ .versions.logseq }}/Logseq-linux-x64-{{ .versions.logseq }}.AppImage"
    exact = true
    executable = true
