["applications/Logseq.AppImage"]
    type = "file"
    url = "https://github.com/logseq/logseq/releases/download/{{ .appimages.logseq }}/Logseq-linux-x64-{{ .appimages.logseq }}.AppImage"
    exact = true
    executable = true
["applications/Obsidian.AppImage"]
    type = "file"
    url = "https://github.com/obsidianmd/obsidian-releases/releases/download/v{{ .appimages.obsidian }}/Obsidian-{{ .appimages.obsidian }}.AppImage"
    exact = true
    executable = true
["applications/Moonlight.AppImage"]
    type = "file"
    url = "https://github.com/moonlight-stream/moonlight-qt/releases/download/v{{ .appimages.moonlight }}/Moonlight-{{ .appimages.moonlight }}-x86_64.AppImage"
    exact = true
    executable = true
