#define C_BG  #1c1c1c
#define C_FG  #B7BBB7
! black
#define C_COLOR0  #2C2F33
! red
#define C_COLOR1  #B04C50
! green
#define C_COLOR2  #919652
! yellow
#define C_COLOR3  #E2995C
! light blue
#define C_COLOR4  #527C77
! magenta
#define C_COLOR5  #8D6494
! blue
#define C_COLOR6  #66899D
! light
#define C_COLOR7  #A6ABA6
! dark
#define C_COLOR8  #4B5056
! white
#define C_COLOR15 #DDE3DC

#define C_PRIMARY     C_COLOR3
#define C_SECONDARY   C_COLOR5
#define C_ERROR       C_COLOR1
#define C_FG_ENABLED  C_COLOR15
#define C_FG_DISABLED C_COLOR8
#define C_BG_ENABLED  #2c2f33
#define C_BG_DISABLED C_BG


! Fonts
#define F_MONO   Hack Nerd Font
#define F_SANS   Noto Sans
#define F_ICON_1 Material Icons
#define F_ICON_2 material\-wifi
!
! color
xterm*background: C_BG
xterm*foreground: C_FG
*color0:  C_COLOR0
*color8:  C_COLOR8 
*color1:  C_COLOR1
*color9:  C_COLOR1
*color2:  C_COLOR2
*color10: C_COLOR2
*color3:  C_COLOR3
*color11: C_COLOR3
*color4:  C_COLOR4
*color12: C_COLOR4
*color5:  C_COLOR5
*color13: C_COLOR5
*color6:  C_COLOR6
*color14: C_COLOR6
*color7:  C_COLOR7
*color15: C_COLOR15

! X
Xcursor.size: 16

! Rofi
! State:           'bg',     'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal:  #383838, #ffffff, #383838, #f0544c, #ffffff
rofi.color-urgent:  #383838, #ffffff, #383838, #f0544c, #ffffff
rofi.color-active:  #383838, #ffffff, #383838, #f0544c, #ffffff

!                  'bg',    'border','separator'
rofi.color-window: #383838, #c7c7c7, #383838

rofi.separator-style: none
rofi.bw: 0
rofi.width: 40
rofi.location: 0
rofi.font: F_SANS 12

! i3
i3wm*font:   F_MONO
i3wm*bg:     #3838383
i3wm*fg:     C_FG
i3wm*border: #c7c7c7
i3wm*active: #f0544c

! lock
lock.font: F_SANS
lock.color.foreground: C_FG_ENABLED
lock.color.background: C_BG_ENABLED
lock.color.primary: C_PRIMARY
lock.color.secondary: C_SECONDARY
lock.color.error: C_ERROR

! xterm
xterm.termName: xterm-256color
xterm.vt100.locale: true

xterm*borderWidth: 0

! font
xterm*renderFont: true
xterm*faceName: F_MONO
xterm*faceSize: 11

! encoding
xterm.ttyModes: erase ^?
xterm.vt100.backarrowKey: false
xterm.vt100.metaSendsEscape: true
xterm.vt100.translations: #override \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d) \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)

! mouse selection
xterm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
xterm*highlightSelection: true
xterm*trimSelection: true

