[Unit]
Description=DesktopEntry execution
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/dex{{ if eq .chezmoi.osRelease.id "fedora" }}-autostart{{ end }} --autostart

[Install]
WantedBy=sway-session.target
