[Unit]
Description=Sit down reminder notification
Wants=sit-down.timer

[Service]
Type=oneshot
ExecStart=notify-send "Time to sit down!"
[Install]
WantedBy=multi-user.target
