[Unit]
Description=Sitdown reminder notification
Wants=stand-up.timer

[Service]
Type=oneshot
ExecStart=notify-send "Time to stand up!"

[Install]
WantedBy=multi-user.target
