[Unit]
Description=A script that listen for wayvnc events
BindsTo=wayvnc.service
After=wayvnc.service

[Service]
Type=simple
ExecStart=%h/.local/bin/wayvnc-event-watcher
Restart=on-failure

[Install]
WantedBy=wayvnc.service
