[Unit]
Description=A script that listen for wayvnc events
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/wayvnc-event-watcher

[Install]
WantedBy=sway-session.target
After=wayvnc.service
