[Unit]
Description= A VNC server for wlroots based Wayland compositors
Requires=sway-session.target
After=network.target
After=sway-session.target

[Service]
# prepare the output _before_ the client connects
ExecStartPre=%h/.local/bin/on-remote-client-connect
# ExecStartPost=%h/.local/bin/wayvnc-event-watcher
ExecStart=/usr/bin/wayvnc -x 3 -o HEADLESS-1
# ExecStopPost=%h/.local/bin/on-remote-client-disconnect
Restart=no

[Install]
WantedBy=sway-session.target
