[Unit]
Description=A lightweight overlay volume/backlight/progress/anything bar for Wayland.
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/wob
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=sway-session.target
